.tableContainer {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #977900;
  color:  rgb(186, 227, 235);
}

.tableHeader th {
  padding: 10px;
}

.tableRow td {
  padding: 8px;
  border: 1px solid #392828;
    background-color: #fcf1e0;
    color: rgb(53, 91, 0);
  text-align: center;
}

.deleteButton {
  padding: 4px 8px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #eea4ab;
}

.tableRow {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.tableRow:hover {
  transform: scale(1.02);
  background-color: #f5e6c8;
}